.BgHeroi {
  width: 100%;
  background: src("../Espolios/hdwall.jpg");
}

.BgHeroi h1 {
  margin-left: 1em;
}

.Sobre {
  margin-top: 0.5em;
  margin-left: 1.8em;
  background-color: transparent !important;
}

@media (max-width: 320px) {
  .Sobre {
    margin-left: 0.5em;
  }
}
