.ContainerSobre {
  display: block;
  width: 100vw;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.PainelE {
  display: inline-block;
  width: 40vw;
  padding: 1em;
}

.PainelD {
  display: inline-block;
  vertical-align: top;
  width: 40vw;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;

  ul {
    padding-left: 1.5em;
  }
}

.Sobre {
  color: white;
  font-family: "Girassol", cursive;
  font-size: 2.5em;
  padding: 0.3em;
  text-align: left;
}

@media (max-width: 568px) {
  .PainelE {
    padding-left: 0;
    display: block;
    width: 100vw;
  }

  .PainelD {
    display: block;
    width: 90vw;
    border-top: 1px solid rgb(238, 240, 125);
    padding: 1em 0 1em 0;
  }
}

@media (max-width: 320px) {
  .PainelE {
    padding: 0.3em;
    width: 90vw;
  }

  .PainelD {
    padding: 0.3em;
    margin: 0;
    width: 90vw;

    ul {
      padding-left: 1.5em;
    }
  }
}
