.Slider {
  margin: 0;
  text-align: center;
  position: relative;
}

.Seta {
  position: absolute;
  background-color: transparent;
  color: #cecfcc;
  border: none;
  outline: none;
  width: 45px;
  height: 100%;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 500ms;
  span {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
  &-esquerda {
    left: 0;
  }

  &-direita {
    right: 0;
  }
  &:hover {
    color: #a39e12;
    outline: none;
    opacity: 1;
    background-color: rgba(195, 196, 199, 0.2);
  }
  &:disabled {
    opacity: 0;
  }
}

.Coluna {
  height: 100vh;
  position: relative;
}

.SlideCartao {
  position: relative;
  max-width: 70vw;
  max-height: 70vh;
  margin: 0 auto;
  top: 0;
  left: 0;
  opacity: 1;

  &:after {
    content: "";
    display: block;
    width: 70vw;
    height: 70vh;
    outline: 2px solid #e2f288;
    margin: 0 auto;
  }
}

.AbracoSlider {
  display: flex;
  position: absolute;
}

.SlideAtivo-0 {
  .Cartao {
    opacity: 1;
  }
  .Detalhes {
    transition: opacity 300ms;
    opacity: 1;
  }
  #Carta1 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .Detalhes {
      display: none;
    }
  }
  #Carta2 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .Detalhes {
      display: none;
    }
  }
}

.SlideAtivo-1 {
  .Cartao {
    opacity: 1;
  }
  .Detalhes {
    opacity: 1;
  }
  #Carta0 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .Detalhes {
      display: none;
    }
  }
  #Carta2 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .Detalhes {
      display: none;
    }
  }
}

.SlideAtivo-2 {
  .Cartao {
    opacity: 1;
  }
  .Detalhes {
    opacity: 1;
  }
  #Carta0 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .Detalhes {
      display: none;
    }
  }
  #Carta1 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .Detalhes {
      display: none;
    }
  }
}

@media (max-width: 568px) {
  .Coluna {
    height: 80vh;
  }
  .SlideCartao {
    width: 70vw;
    height: 50vh;
    &:after {
      height: 50vh;
    }
  }
}

@media (max-width: 320px) {
  .Seta {
    font-size: 1.3em;
  }
}
