.Heroi {
  text-align: left;
  left: 0;
  width: 100vw;
  height: 35vh;
  background-color: black;
  padding: 0.3em;
  margin-top: 1em;
  opacity: 1;
  background: url("../../Espolios//hdwall.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;

  .Titulo {
    margin-top: 0.5em;
    margin-left: 1em;
    color: rgb(255, 255, 255);
    font-size: 5em;
    font-family: "Staatliches", cursive;
  }

  .Subtitulo {
    color: white;
    font-family: "Girassol", cursive;
    font-size: 2.5em;
  }

  .TituloPisca {
    font-family: "Girassol", cursive;
    border-right: solid 5px rgba(255, 255, 255, 0.75);
    margin-top: 0.4em;
    margin-left: 3.5em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    animation: animated-text 20s ease-out 2s infinite normal both,
      animated-cursor 600ms linear infinite;
  }
}

@keyframes animated-text {
  0% {
    width: 0;
  }
  10% {
    width: 310px;
  }

  95% {
    width: 310px;
  }

  100% {
    width: 310px;
    display: none;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 568px) {
  .Heroi {
    height: 50vh;
    .Titulo {
      margin-left: 0.2em;
    }
    .TituloPisca {
      margin-left: 0.5em;
    }
    .Subtitulo {
      margin-left: 1em;
    }
  }
}

@media (max-width: 320px) {
  .Heroi {
    .Titulo {
      font-size: 4em;
    }
    .TituloPisca {
      font-size: 1.5em;
    }
    .Subtitulo {
      margin-left: 1.5em;
    }
  }

  @keyframes animated-text {
    0% {
      width: 0;
    }
    10% {
      width: 285px;
    }

    95% {
      width: 285px;
    }

    100% {
      width: 285px;
      display: none;
    }
  }
}
